@model IEnumerable<BLVGestao.Domain.Model.Venda>
@{
    ViewData["Title"] = "RelatorioVendas";


}


<div class="content-header container-fluid row mb-2 col-sm-6">
    <form action="Listar" method="post">
        <h1 class="m-0 text-dark">Consulta de Vendas</h1>
        <div class="input-group input-group-sm">

            <input class="form-control form-control-navbar" type="search" name="filtro1" placeholder="Digite a busca" aria-label="Filtro">
            <input class="form-control form-control-navbar" type="search" name="filtro2" placeholder="Insira o segundo intervalo de vendas EX: 10/10/2020" aria-label="Filtro">
            <label class="control-label"></label>

            <select name="campo">
                
                <option value="Periodo">Periodo</option>
                <option value="FormadePagamento">FormaPagamentoIdId</option>
                <option value="Cliente">NomeCliente</option>
                <option value="Produto">Produto</option>                
                <option value="Ativo">Ativo</option>
                <option value="NaoAtivo">Não ativos</option>
            </select>

            <button class="btn btn-primary" type="submit" value="Listar">
                Buscar
            </button>
            <button class="btn btn-primary" onclick="createPDF()">
                ExportarParaPDF
            </button>
        </div>
    </form>

</div>
<div id="tab">
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Data
                </th>
                <th>
                    Forma Pagamento
                </th>
                <th>
                    Cliente
                </th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VendaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaDePagamento.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                       

                    </tr>
                }}

        </tbody>

    </table>
</div>
<script>
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Vendas</title>');   
        win.document.write(style);          
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         
        win.document.write('</body></html>');

        win.document.close();   

        win.print();   
    }
</script>


